{% extends "main/layout.html" %}

{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Website</th>
                <th scope="col">Borough</th>
            </tr>
        </thead>
        <tbody>
            {% for place in place_list %}
            <tr>
                <td>{{ place.name }}</td>
                <td>
                    <a href="{{ place.url }}" target="_blank">
                        {{ place.url }}
                    </a>
                </td>
                <td>{{ place.borough }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
