<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}treehouselondon.org — Housing Co-operatives & Intentional Communities Directory for London, UK{% endblock %}</title>

        {% if not request.subdomain %}
        <meta name="description" content="treehouselondon.org — Housing Co-operatives & Intentional Communities Directory for London, UK">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            body { font-family: monospace; line-height: 1.5; font-size: 16px; }
            a { color: black; }
            header { margin: 64px; }
            main { margin: 64px; }
            table { border-collapse: collapse; border: 1px solid black; }
            th { padding: 8px; text-align: left; }
            td { padding: 8px; border: 1px solid black; }
            tr:nth-child(even) { background: lightgoldenrodyellow; }
        </style>
    </head>

    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        <header>
            <div>treehouselondon.org</div>
            <h1>
                Housing Co-operatives
                <br>& Intentional Communities
                <br>Directory for London, UK
            </h1>
        </header>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
