# inventory.yaml

# Server IP and user with ssh access
export ANSIBLE_HOST=5.75.194.9
export ANSIBLE_USER=root


# vars.yaml

# Show exceptions and tracebacks on errors
export DEBUG=0

# Used by Django to encrypt session login cookies
export SECRET_KEY='8#mh$(ppw$b6-@7bd!_g!5eww8g-u0%n9z+=qp5e1oiu&c8$y3'
